* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    background-color: rgb(34, 215, 46);
    color: #101010;
}

header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 24px;
}

header nav li a {
    color: #101010;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section img {
    padding-right: 100px;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

section .container {
    padding-bottom: 50px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 30px;
}

.container li {
    list-style: none;
}

img {
    width: 500px;
}